<section class="about" id="about">
  <div class="row">
    <div class="title">
      <img src="assets/Teste3.jpg" alt="Descrição da Imagem" class="tilt" />
      <h3>I'm <span class="span">Lorena Silva</span></h3>
      <span class="tag">{{ jobTitle }}</span>
    </div>
    <div class="content">
      <p>
        I am a Front-End developer based in Ipatinga, Minas Gerais, Brazil. I
        hold a Bachelor's degree in Mechanical Engineering and a specialization
        in Software Engineering. Driven by curiosity to explore and a commitment
        to continuous learning, I have become a versatile professional ready to
        tackle new challenges in the ever-dynamic field of technology.
      </p>
      <div class="resumebtn">
        <a href="https://drive.google.com/file/d/1k2vMFc5CfJY6KGWlomzXS9A4mqco0sNG/view?usp=drive_link" target="_blank" class="btn">
          <span>Resume</span>
        </a>
      </div>
    </div>
  </div>
</section>
