<section class="soft" id="experience">

  <h1 class="heading"><img class="icon" src="assets/softskill.png" alt="softskills" /> Soft Skills </h1>

  <div class="timeline">

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Analytical Thinking</h2>
        </div>
        
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Resilience, Flexibility, Agility</h2>
        </div>
        
      </div>
    </div>

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Motivation and Self-awareness</h2>
        </div>
        
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Curiosity and Continuous Learning</h2>
        </div>
        
      </div>
    </div>

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Empathy and Active Listening</h2>
        </div>
       
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Teamwork</h2>
        </div>
        
      </div>
    </div>
  </div>

  
</section>
