<section class="work" id="work">
  <h2 class="heading">
    <img class="icon" src="assets/works.png" alt="education" />Projects
  </h2>
  <div class="box-container-wrapper">
    <div class="box-container">

      <div class="box tilt">
        <img draggable="false" src="assets/fashionmanagement.png" alt="" />
        <div class="content">
          <div class="tag">
            <h3>Fashion Management</h3>
          </div>
          <div class="desc">
            <p>
              Angular application developed for the management of fashion models
              and collections.
            </p>
            <div class="btns">
              <a
                href="https://myportifolio-lime-rho.vercel.app/home"
                class="btn"
                target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a
                href="https://github.com/lorenagrazy/myportifolio.git"
                class="btn"
                target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img draggable="false" src="assets/lorenasportifolio.png" alt="" />
        <div class="content">
          <div class="tag">
            <h3>Lorena's Portifolio</h3>
          </div>
          <div class="desc">
            <p>
              Application developed for the purpose of showcasing a portfolio
              and professional informations.
            </p>
            <div class="btns">
              <a
                href="https://myportifolio-murex.vercel.app/home"
                class="btn"
                target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a
                href="https://github.com/lorenagrazy/myportifolio.git"
                class="btn"
                target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img draggable="false" src="assets/tic-tac-function.png" alt="" />
        <div class="content">
          <div class="tag">
            <h3>TIC-TAC-TOE</h3>
          </div>
          <div class="desc">
            <p>
              The player who succeeds in placing three of their marks in a
              horizontal, vertical, or diagonal row is the winner.
            </p>
            <div class="btns">
              <a
                href="https://lorenagrazy.github.io/Tic-Tac-Toe/"
                class="btn"
                target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a
                href="https://github.com/lorenagrazy/Tic-Tac-Toe.git"
                class="btn"
                target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img draggable="false" src="assets/barbecuemeter.png" alt="" />
        <div class="content">
          <div class="tag">
            <h3>Barbecuemeter</h3>
          </div>
          <div class="desc">
            <p>
              The system was created to calculate the amount of food and drink
              needed to hold a barbecue.
            </p>
            <div class="btns">
              <a
                href="https://lorenagrazy.github.io/Babecuemeter/"
                class="btn"
                target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a
                href="https://github.com/lorenagrazy/Babecuemeter.git"
                class="btn"
                target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img draggable="false" src="assets/contentpagenew.png " alt="" />
        <div class="content">
          <div class="tag">
            <h3>Content Page</h3>
          </div>
          <div class="desc">
            <p>
              Page developed during a course for learning HTML and CSS
              languages.
            </p>
            <div class="btns">
              <a
                href="https://lorenagrazy.github.io/PAGINADECONTEUDO/"
                class="btn"
                target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a
                href="https://github.com/lorenagrazy/PAGINADECONTEUDO.git"
                class="btn"
                target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img draggable="false" src="assets/memory-game.jpg" alt="" />
        <div class="content">
          <div class="tag">
            <h3>Memory-Game</h3>
          </div>
          <div class="desc">
            <p>Web Game developed in the BR Programmer Course</p>
            <div class="btns">
              <a
                href="https://lorenagrazy.github.io/Memory-Game/"
                class="btn"
                target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a
                href="https://github.com/lorenagrazy/Memory-Game.git"
                class="btn"
                target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img draggable="false" src="assets/bankaccount.png" alt="" />
        <div class="content">
          <div class="tag">
            <h3>Bank Account</h3>
          </div>
          <div class="desc">
            <p>Bank account registration and verification simulator</p>
            <div class="btns">
              <a
                href="https://lorenagrazy.github.io/_bankaccount/"
                class="btn"
                target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a
                href="https://github.com/lorenagrazy/_bankaccount.git"
                class="btn"
                target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img
          draggable="false"
          src="assets/images/projects/portfolio1.PNG"
          alt=""
        />
        <div class="content">
          <div class="tag">
            <h3></h3>
          </div>
          <div class="desc">
            <p></p>
            <div class="btns">
              <a href="#" class="btn" target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a href="" class="btn" target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img
          draggable="false"
          src="assets/images/projects/portfolio1.PNG"
          alt=""
        />
        <div class="content">
          <div class="tag">
            <h3></h3>
          </div>
          <div class="desc">
            <p></p>
            <div class="btns">
              <a href="#" class="btn" target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a href="" class="btn" target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img
          draggable="false"
          src="assets/images/projects/portfolio1.PNG"
          alt=""
        />
        <div class="content">
          <div class="tag">
            <h3></h3>
          </div>
          <div class="desc">
            <p></p>
            <div class="btns">
              <a href="#" class="btn" target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a href="" class="btn" target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box tilt">
        <img
          draggable="false"
          src="assets/images/projects/portfolio1.PNG"
          alt=""
        />
        <div class="content">
          <div class="tag">
            <h3></h3>
          </div>
          <div class="desc">
            <p></p>
            <div class="btns">
              <a href="#" class="btn" target="_blank"
                ><i class="fas fa-eye"></i> View</a
              >
              <a href="" class="btn" target="_blank"
                >Code <i class="fas fa-code"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
