<section class="contact" id="contact">
  <h2 class="heading">
    <img class="icon" src="assets/contacteme.png" alt="Image description">
    <span>Contact Me</span>
  </h2>
  <div class="container">
    <div class="content">
      <div class="image-box">
        <img class="success" src="assets/verificado.png" alt="Success Image">
      </div>
      <div class="text-box">
        <h3>Message sent successfully! <br> I will get back to you as soon as possible. <br> Thank you!</h3>
      </div>
    </div>
  </div>
</section>
