<section class="education" id="education">
  <h1 class="heading">
    <img
      class="icon"
      src="assets/education.png"
      alt="education"
    />Education
  </h1>

  <div class="box-container">
    <div class="box">
      <div class="image">
        <img draggable="false" src="assets/unileste.png" alt="" />
      </div>
      <div class="content">
        <h3>Bachelor of Mechanical Engineering</h3>
        <p>University Center of Eastern Minas Gerais - UNILESTE</p>
        <h4>2012-2016 | Completed</h4>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img draggable="false" src="assets/uniube.png" alt="" />
      </div>
      <div class="content">
        <h3>Software Engineering Specialization</h3>
        <p>University of Uberaba - UNIUBE"</p>
        <h4>2023-2024 | Pursuing</h4>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img draggable="false" src="assets/unibf.png" alt="" />
      </div>
      <div class="content">
        <h3>Production Engineering</h3>
        <p>Unibf College</p>
        <h4>2021-2021 | Completed</h4>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img draggable="false" src="assets/unibf.png" alt="" />
      </div>
      <div class="content">
        <h3>Railway Engineering</h3>
        <p>Unibf College</p>
        <h4>2021-2021 | Completed</h4>
      </div>
    </div>
  </div>
</section>
