.education {
  min-height: 80vh;
  background: none;
}

.education h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #212529;
  margin-top: 3rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 2rem;
}

.education h1:hover {
  color: #8c2f39;
}

.education .heading .icon {
  max-width: 3rem;
  height: auto;
  vertical-align: middle;
  margin-right: 2rem;
}

.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 70%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2.5rem;
  overflow: hidden;
  transition: 0.3s;
  background: #ecf8f8;
}

.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem #8c2f39;
}

.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 50%;
}

.education .box-container .box img {
  object-fit: contain;
  position: relative;
  width: 60%;
  height: 100%;
}

.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}

.education .box-container .box .content h3 {
  font-size: 2rem;
  color: #0e2431;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}

.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}

.education h4 {
  font-size: 2rem;
  color: #8c2f39;
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
 

  .education .box-container .box {
    flex-direction: column;
    width: 80%;
  }

  .education .box-container .box .image {
    width: 100%;
  }

  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 2rem;
    align-items: center;
    margin-top: -9rem; /* Ajuste de margin-top para aproximar o texto da base da imagem */
  }

  .education .box-container .box img {
    object-fit: contain;
    position: relative;
    width: 30%;
    height: 70%;
  }

  .education .box-container .box .content h3,
  .education .box-container .box .content p {
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .education .box-container .box {
    flex-direction: column;
    width: 90%;
  }

  .education .box-container .box .image {
    width: 100%;
   
  }

  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 2rem;
    align-items: center; /* Alinhar conteúdo verticalmente */
  }

  .education .box-container .box img {
    object-fit: contain;
    position: relative;
    width: 30%;
    height: 70%;
  }

  .education .box-container .box .content h3,
  .education .box-container .box .content p {
    text-align: center;
    margin: 0;
  }
}
