<section class="skills" id="skills">
  <h2 class="heading">
    <img class="icon" src="assets/skills.png" alt="skills" /> Skills
  </h2>

  <div class="container">
    <div class="row" id="skillsContainer">
      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/angular.svg" />
          <span>Angular</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/react.svg" />
          <span>React</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/html.svg" />
          <span>Html</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/css.svg" />
          <span>Css</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/sass.png" />
          <span>Sass</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/node-js.svg" />
          <span>NodeJS</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/mongodb.svg" />
          <span>MongoDB</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/git.svg" />
          <span>Git</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/github.svg" />
          <span>GitHub</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/figma.svg" />
          <span>Figma</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/jquery.png" />
          <span>JQuery</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/sql.png" />
          <span>Sql</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/javascript.svg" />
          <span>JavaScript</span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/visual-studio.svg" />
          <span>Visual Studio</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/netlify.png" />
          <span>Netlify</span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/csharp.svg" />
          <span>C#</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/bootstrap.svg" />
          <span>Bootstrap</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/typescript.svg" />
          <span>TypeScript</span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/trello.svg" />
          <span>Trello</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img class="icon" src="assets/fontawesome.svg" />
          <span>Fontawesome</span>
        </div>
      </div>
    </div>
  </div>
</section>
